{% extends "base_generic.html" %} 
{% load django_bootstrap5 %} 
{% block title %}
  password reset
{% endblock title %}
{% block content %} 
<h4 style="font-weight: bolder; size: 80%; color: antiquewhite;">password reset</h4> 
<form method="POST" enctype="multipart/form-data" style="background-color: rgba(0, 0, 0, 0.062); 
font-size: larger;"> 
    {% csrf_token %} 
    {% if form.email.errors %} 
        {{ form.email.errors }} 
    {% endif %} 
  
    {% bootstrap_form form %} 
  
    <button class="btn btn-outline-primary w-100" type="submit">send</button> 
</form> 
{% endblock %}